---
import Layout from "../layouts/Layout.astro";
import Buttons from "../components/Buttons.astro";
import Yapping from "../components/Yapping.astro";
---

<Layout title="redsite" description="personal website/bio/list of contact info">
    <Yapping />
    <Buttons />
    <!-- <hr class="footer-divider" /> -->
    <!-- <p class="ct-footer">color scheme loosely based off of <a href="https://draculatheme.com/">dracula</a>, some css stolen from <a href="https://slonk.ing">slonksite</a>. licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. images and fonts may not fall under this license and belong to their respective owners.</p> -->
    <p class="ct-footer" style="color: transparent;">
        sebastianhugh83@gmail.com
    </p>
</Layout>

<style is:global>
    .ct-footer {
        text-align: center;
        font-size: 15px;
    }
</style>
