---
import ButtonImage from './button/ButtonImage.astro';
import Button from './button/Button.astro';

---
<div class="button-list">
    <Button path="red.png" alt="red is purple" site="/add-button" />
    <Button path="slonk.apng" alt="slonk.ing" site="//slonk.ing" />
    <Button path="nikolan.png" alt="'nikolan' on a green background" site="//nikolan.xyz" />
    <Button path="//coolelectronics.me/ce88x31.png" alt="'velzie' next to pixel art of lamp lighter from oneshot, with what seems like a gallon jug of coffee in hand, staring out into a corru.observer-esque void" site="//coolelectronics.me/" />
    <Button path="unnick.png" alt="unnick" site="//unnick.mice.tel" />
    <Button path="sleepy.png" alt="sleepy.ink" site="//sleepy.ink/about.html" />
    <Button path="authen.gif" alt="authen" site="//authenyo.xyz" />
    <Button path="760ce.png" alt="760ce's uuid with neko arc by the side" site="//760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/" />
    <Button path="lars.png" alt="'hi i'm lars' next to lars' profile pic as of 2024-06-17" site="//larsfrommars.neocities.org" />
    <Button path="essem.png" alt="essem" site="//essem.space" />
    <Button path="maia.crimew.gay.png" alt="maia" site="//maia.crimew.gay/" />
    <Button path="ssi.gif" alt="server scanning inc" site="//ssi.fyi" />
    <Button path="corruobserver.gif" alt="corru.observer" site="//corru.observer" />
    <Button path="eighty.png" alt="eightyeightthirty.one" site="//eightyeightthirty.one" />
    <ButtonImage path="adhd.png" alt="'adhd' on a white-and-yellow background" />
    <iframe src="//incr.easrng.net/badge?key=b0vik" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
    <Button path="arch.gif" alt="arch linux" site="//archlinux.org/" />
    <Button path="rockbox.png" alt="rockbox" site="//www.rockbox.org/" />
</div>

<style>
    .button-list {
        image-rendering: pixelated;
        text-align: center;
    }
</style>