---

---

<h3>hiya</h3>
<p>i'm red, or max.</p>
<p>i would consider myself fairly hard to define, which is probably not a good sign. you may know me from The Internet. i dunno what to put here hhhgh</p>
<h3 id="projects-header">main things</h3>
<ul>
    <li>blog: <a href="/blog">redcatho.de/blog</a></li>
    <li>fedi: <a rel="me" href="https://wetdry.world/@max">@max@wetdry.world</a></li>
</ul>
<p>most recent semi-interesting project: trying to recreate the <a title="mit news article about a device for targeted dream incubation" href="https://news.mit.edu/2020/targeted-dream-incubation-dormio-mit-media-lab-0721">dormio</a>, probably with some more up-to-date hardware</p>
<noscript>
    <p>side note: turn js on if possible to see the cool background i made</p>
</noscript>

<h3>contacts</h3>
<ul>
    <li><strong>matrix:</strong> @red:ha.redcatho.de</li>
    <li><strong>discord:</strong> <a href="https://discord.com/users/609942266953465856">@redcathode</a></li>
    <li><strong>xmpp:</strong> <a href="xmpp:max@wetdry.world" >max@wetdry.world</a> (would recommend using matrix or discord instead; i don't check this often)</li>
    <li><strong>github:</strong> <a href="https://github.com/redcathode">github.com/redcathode</a></li>
    <li id="emailtext"><strong>email (rot13'd): </strong>
        <span id="email1">znk@o0ivx.qri</span>
        <button id="decodebutton1" class="decode-button">decode</button>
    </li>
</ul>
<h3>specs</h3>
<ul id="specs-list">
    <li>
        <details>
        <summary>homelab</summary>
        <ul>
            <li><strong>OS:</strong> NixOS 23.11 (Tapir) x86_64</li>
            <li><strong>Host:</strong> XPS 8900</li>
            <li><strong>CPU:</strong> Intel i5-6400</li>
            <li><strong>GPU:</strong> NVIDIA GTX 1070 (had to do <a href="/images/manmade-horrors/dremeled.jpg">this</a> and <a href="/images/manmade-horrors/other-workstation.png">this</a> to fit in the power connector)
            <li><strong>Memory:</strong> 8GB DDR4</li>
            <li><strong>Disk:</strong> 512GB SATA SSD (ext4)</li>
            <li><strong>Other Disk:</strong> random 8TB SMR drive (xfs, no raid :3)</li>
            <li><strong>runs</strong> this website, matrix, jellyfin &amp; co, and occasionally a minecraft server</li>
        </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>laptop</summary>
            <ul>
                <li><strong>OS:</strong> Arch Linux x86_64</li>
                <li><strong>Host:</strong> Lenovo Yoga C940-14IIL</li>
                <li><strong>CPU:</strong> Intel i7-1065G7 (8) @ 3.9GHz</li>
                <li><strong>Memory:</strong> 12GB DDR4</li>
                <li><strong>Disk:</strong> 512GB NVMe SSD (ext4)</li>
                <li><strong>DE/WM:</strong> KDE Plasma 6 (breeze w/ catppucin mocha colors)</li>
                <li><strong>Terminal:</strong> kitty w/ <a href="https://github.com/dexpota/kitty-themes/blob/master/themes/gruvbox_dark.conf">gruvbox dark</a></li>
            </ul>
        </details>
    </li>
<li>
        <details>
            <summary>desktop</summary>
            <ul>
                <li><strong>OS:</strong> Arch Linux x86_64</li>
                <li><strong>Host:</strong> B550M-HDV</li>
                <li><strong>CPU:</strong> AMD Ryzen 5 5600 (12) @ 4.47GHz</li>
    <li><strong>GPU:</strong> AMD Radeon RX 6600</li>
                <li><strong>Memory:</strong> 32GB DDR4</li>
                <li><strong>Disk:</strong> 960GB NVMe SSD (f2fs)</li>

                <li><strong>DE/WM:</strong> same as laptop</li>
    <li><strong>Displays:</strong> dual 1080p monitors @ 165hz</li>
                <li><strong>Terminal:</strong> same as laptop</li>
            </ul>
        </details>
    </li>
</ul>

<h3>webrings</h3>
<ul>
    <li><p>
        <a href="https://fediring.net/previous?host=b0vik.dev">←</a>
        <a href="https://fediring.net/">Fediring</a>
        <a href="https://fediring.net/next?host=b0vik.dev">→</a>
    </p></li>
</ul>
<h3>assorted remarks</h3>
<ul>
    <li>either max or red is fine. i usually go by max irl</li>
    <li>this site is proudly hosted on an old dell xps</li>
    <li>i have like 12 dell optiplexes and if you live near maryland can probably send or give you one</li>
    <li>using commas wrong is a stylistic choice</li>
    <li>pfp is from the scott pilgrim takes off intro</li>
    <li>bday is on nov 05, 2006</li>
    <li>we should improve society somewhat.</li>
</ul>

<script src="../scripts/email.js"></script>

<style>
    summary:hover,
    summary:active,
    details[open] > summary {
        /* font-weight: bolder; */
    text-shadow: 0 0 .01px #d0d0d0, 0 0 .01px #d0d0d0;
    }

    summary::after {
        content: " (click to expand)";
        opacity: 50%;
        font-weight: lighter;
        text-shadow: none;
    }
    
    details[open] > summary::after {
	    content: " (click to collapse)";
    }

    .decode-button {
        background-color: rgba(40, 42, 54, 0.94); /* Match the theme selector background */
        color: #d0d0d0; /* Text color */
        padding: 2px 4px; /* Padding inside the button */
        border: 2px solid rgba(25, 25, 25, 0.94); /* Border similar to theme selector */
        border-radius: 0px; /* Border radius to match theme selector */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
        font-family: "ibm-vga8";
        font-size: inherit;
    }

    .decode-button:hover {
        background-color: rgba(68, 71, 90, 0.94); /* Slightly lighter background on hover */
        border-color: white; /* White border on hover */
    }

    #specs-list {
        list-style-type: none;
        list-style: none;
        padding-left: 1.7em;
    }
</style>