---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head><canvas id="stars"></canvas>

	<body>
		<slot />
	</body>
	<script src="../scripts/theme.js"></script>
</html>

<style is:global>
	@font-face {
		font-family: "ibm-vga8";
		src: url("/fonts/PxPlus_IBM_VGA8.woff"), format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html {
		background-color: #282a36;
		margin: 0;
		padding: 0;
		font-family: "ibm-vga8";
	}
	main {
		max-width: calc(100% - 2rem);
		color: #d0d0d0;
		height: 100%;
		overflow: auto;
		position: relative;
		max-width: calc(100% - 80px);
		width: 60rem;
		margin: 40px auto;
		z-index: 5;
		background-color: rgba(68, 71, 90, 0.94);
		border: 2px solid rgba(60, 62, 74, 0.94);
		border-radius: 0px;
		padding: 20px;
		padding-bottom: 0px;
		letter-spacing: 1px;
	}
	textarea {
		background-color: rgba(40, 42, 54, 0.94); /* Match the theme selector background */
        color: #d0d0d0; /* Text color */
        padding: 2px 4px; /* Padding inside the button */
        border: 2px solid rgba(25, 25, 25, 0.94); /* Border similar to theme selector */
        border-radius: 0px; /* Border radius to match theme selector */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
        font-family: "ibm-vga8";
        font-size: inherit;
	}
	canvas {
		width: 100%;
		height: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
	}
	a:link {
		color: #7f8c8d;
	}
	a:visited {
		color: #646464;
	}
	a:hover {
		color: #2d8653;
	}
	a:active {
		color: #ff0000;
	}

	ul {
		list-style-type: square;
	}
</style>
